= render 'profile'
- unless @projects.empty?
  .projects
    %table.table
      = render partial: 'project', collection: @projects
- unless @user.role.eql?('Admin')
  #profile-updates-widget.accordion.bonusly-updates.common-bonusly-updates
    - if @github_entries.present?
      = render partial: 'users/github_profile', locals: {github_entries: @github_entries}
    - unless @not_found.eql?(true)
      = render partial: 'users/bonusly_given', locals: {bonus_given: @bonus_given, user: @user}
      = render partial: 'users/bonusly_received', locals: {bonus_received: @bonus_received, user: @user}
    - if @blog_entries.present?
      = render partial: 'users/blog_feed', locals: {blog_entries: @blog_entries}
