- new_project = !@project.persisted?
%ul.nav.nav-tabs
  %li.active
    %a{data:{toggle: 'tab'}, href: '#project_form'}
      #{new_project ? 'Create' : 'Update'} Project
  %li
    = link_to 'Tech Details', '#project_info', data:{toggle: ('tab' unless new_project )}, class: :tech_details
      
.project_tab_content.tab-content
  #project_form.tab-pane.fade.in.active
    = render 'projects/project_form'
  #project_info.tab-pane.fade
    = render 'projects/project_info_form'


:javascript
  $('.tech_details').click(function(){
    if(#{new_project}){
      alert('Please first create project to fill technical details.')
    }
  })
