.form-horizontal
  %table.table.table-hover
    %thead
    %th Name
    %th Project
    %th Time
    %th Total Worked Hours
    %th Leaves
    %tbody
      - if timesheet_reports.present?
        - timesheet_reports.each do |timesheet_report|
          %tr
            %td{:rowspan => "#{timesheet_report['project_details'].count}"}= link_to timesheet_report['user_name'], time_sheet_path(timesheet_report['user_id'], timesheet_report: timesheet_report, from_date: @from_date, to_date: @to_date)
            %td= "#{timesheet_report['project_details'].first["project_name"]}"
            %td= "#{timesheet_report['project_details'].first["worked_hours"]}"
            %td{:rowspan => "#{timesheet_report['project_details'].count}"}= "#{timesheet_report['total_worked_hours']}"
            %td{:rowspan => "#{timesheet_report['project_details'].count}"}= "#{timesheet_report['leaves']}"
          - timesheet_report['project_details'].drop(1).each do |project_detail|
            %tr
              %td= "#{project_detail['project_name']}"
              %td= "#{project_detail['worked_hours']}"