%h1 Edit Your TimeSheet
= simple_nested_form_for(@user, :url => time_sheet_path(@user), :html => { method: 'PUT', class: "form-horizontal", multipart: true}) do |f|
  = f.fields_for :time_sheets, TimeSheet.get_time_sheet_of_date(@user, @time_sheet_date) do |time_sheet|
    = time_sheet.label :Project
    = time_sheet.select :project_id, options_for_select(@user.projects.pluck(:name, :id), time_sheet.object.project_id), {}, {style: "margin-left: 21px; margin-bottom: 16px"}
    = time_sheet.input :date, input_html: {class: 'datepicker', 'data-behaviour' => 'datepicker', value: time_sheet.object.date.try(:strftime, "%d-%m-%Y")}
    = time_sheet.input :from_time, input_html: {class: 'datetimepicker1 form-control"'}
    = time_sheet.input :to_time, input_html: {class: 'datetimepicker1'}
    = time_sheet.input :description, as: :text
    %br
    %br
  = f.hidden_field :id, value: @user.id
  = f.submit :save, class: "btn"
