.timesheet_report_form
  = form_tag time_sheets_path, method: 'GET', class: 'form form-inline' do
    %label From Date:
    = text_field_tag :from_date, params[:from_date], class: "form-control datepicker", placeholder: "From Date", value: @from_date, style: "height: 2em;"
    %label To Date:
    = text_field_tag :to_date, params[:to_date], class: "form-control datepicker", placeholder: "To Date", value: @to_date, style: "height: 2em;"
    = submit_tag "Search", class: "btn btn-primary"
    .pull-right
      - if [ROLE[:intern], ROLE[:employee]].include?(current_user.role)
        = link_to '', new_time_sheet_path(user_id: current_user.id, from_date: @from_date, to_date: @to_date), "data-toggle" => "tooltip", title: 'Add Timesheet', class: "icon-plus add-timesheet-icon"
.timesheet_report
  = render 'time_sheets/timesheet_report_view', timesheet_reports: @timesheet_report
