%h1 Add Timesheet 
= simple_nested_form_for(@user, :url => add_time_sheet_time_sheets_path, :html => { method: 'POST', multipart: true, class: 'timesheet'}) do |f|
  %table.table
    %th Project
    %th Date
    %th From Time(HH:MM 24hrs)
    %th To Time(HH:MM 24hrs)
    %th Description
    %tbody#timesheets
      = f.fields_for :time_sheets, @time_sheets, wrapper: false do |time_sheet|
        %tr.fields
          %td= time_sheet.select :project_id, options_for_select(@user.projects.pluck(:name, :id), time_sheet.object.project_id), {}, {style: "margin-bottom: 16px"}
          %td= time_sheet.input :date, input_html: {class: 'timesheet-input datepicker',
            'data-behaviour' => 'datepicker',
            'readonly' => true, value: Date.today}, label: false
          %td= time_sheet.input :from_time,
            input_html: {value: time_sheet.object.from_time.try(:strftime, "%H:%M"),
            type: 'time', class: 'timesheet-input', required: true}, label: false, id: 'from-time'
          %td= time_sheet.input :to_time,
            input_html: {value: time_sheet.object.to_time.try(:strftime, "%H:%M"),
            type: 'time', class: 'timesheet-input'}, label: false
          %td= time_sheet.input :description, as: :text, label: false
  = f.hidden_field :user_id, value: @user.id
  = f.hidden_field :from_date, value: @from_date
  = f.hidden_field :to_date, value: @to_date
  = f.link_to_add 'Add new timesheet', :time_sheets, data: {target: '#timesheets'}, class: 'btn add-new-timesheet'
  = f.submit :Save, class: "btn"