= form_tag projects_report_time_sheets_path, method: 'GET', class: 'form form-inline' do
  .search-form
    %label From Date:
    =text_field_tag :from_date, params[:from_date], class: "form-control datepicker", placeholder: "From Date", value: @from_date
    %label To Date:
    =text_field_tag :to_date, params[:to_date], class: "form-control datepicker", placeholder: "To Date", value: @to_date
    = submit_tag "Search", class: "btn btn-primary"

.form-horizontal
  -if @projects_report_in_json.present?
    %br
    %table.table
      %th Project Name
      %th No Of Employee
      %th Total Worked Hours
      %th Allocated Hours
      %th Leaves
      %tbody
        - @projects_report_in_json.each do |project_report|
          %tr
            %td= link_to project_report['project_name'], individual_project_report_time_sheet_path(project_report['project_id'], from_date: @from_date, to_date: @to_date)
            %td= project_report['no_of_employee']
            %td= project_report['total_hours']
            %td= project_report['allocated_hours']
            %td= project_report['leaves']
  %br
  - if @project_without_timesheet.present?
    %h4 Projects Without Timesheet
    - @project_without_timesheet.each do |project|
      %li 
        = link_to  project['project_name'], individual_project_report_time_sheet_path(project['project_id'], from_date: @from_date, to_date: @to_date)
  %br
  - if @users_without_timesheet.present?
    %h4 Users Without Timesheet
    - @users_without_timesheet.each do |user|
      %li
        = user.name