Hi,

Here are details of person who contacted

= "Name: #{@website_contact.name}"
%br
= "Email: #{@website_contact.email}"
%br
= "Skype: #{@website_contact.skype_id}"
%br
= "Phone: #{@website_contact.phone}"
%br
= "Organization: #{@website_contact.organization}"
%br
= "Role: #{@website_contact.role}"
%br
= "Organization: #{@website_contact.organization}"
