= simple_form_for @policy, :html => { :class => 'form-label-left-align form-horizontal' } do |policy|
  = policy.input :title, label: false, :input_html => { :class => 'span8', :placeholder => 'Enter title here...' }
  = policy.text_area :content, :placeholder => "Input here..", :class => "redactor", :rows => 20, :cols => 40
  %br
  = policy.label :is_published
  .make-switch#policy_button{"data-on" => "success", "data-off" => "warning", "data-on-label"=>"Yes", "data-off-label"=> "NO"}
    = policy.check_box :is_published, {}, 'true', 'false'

  %br
  = policy.button :submit, class: "btn btn-primary"

:css
  .make-switch{ height: 29px; margin-left: 18px; margin-bottom: 10px;}
  .policy_title .controls { margin-left: 0; }
